@import url("./carousel.css");
@import url("./navbar.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
ul {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.section1 {
  background-image: url("./assets/images/section1Background.jpg");
}

h1,
h2,
h3,
h4 {
  font-family: montserrat;
}

p {
  font-family: raleway;
}
