@import url("./carousel.css");
@import url("./navbar.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.section1 {
  background-image: url("./assets/images/section1Background.jpg");
}

.star:hover,
:active {
  color: orange !important;
  cursor: pointer;
}
